/* Credits: 
Friend Grids: @CorellanStoma#1996
Base: @LuckFire#4800
*/

/* CSS Imports: */
@import url("https://crearts-community.github.io/Friends-Grid/clients/powercord.css");

/* Main CSS: */

.appMount-2yBXZl {
  background-position: bottom;
  background-size: 105%;
  background-repeat: no-repeat;
  background-image: url("https://i.ibb.co/6yyx6zn/Dark-Sea.jpg");
  -webkit-app-region: drag;
}

.app-2CXKsg {
  background-color: transparent;
}

.bg-1QIAus {
  background-color: transparent;
}

.layers-OrUESM {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.375);
  -webkit-app-region: no-drag;
}

.layer-86YKbF {
  transform: none;
  will-change: unset;
}

.errorPage-2pZ2Kq .buttons-228G5H {
  -webkit-app-region: no-drag;
}

.theme-dark {
  --background-primary: #071932; /* Chat */
  --background-secondary: #061428; /* Channels and People */
  --background-secondary-alt: #15181b;
  --background-tertiary: #001221; /* Servers */
  --channeltextarea-background: #091525;
  --background-floating: #111416;

  --scrollbar-auto-thumb: #0000004a;
  --scrollbar-auto-track: #00000036;

  --background-modifier-accent: hsla(0, 0%, 100%, 0.03);
}

.container-YkUktl {
  background-color: #051020;
  border-radius: 20px !important;
  margin: 3px;
}
.panels-3wFtMD {
background-color: #061428;
}
.flex-2S1XBF {
  right: 6px;
  position: relative;
}
