.appMount-2yBXZl {
  background-position: bottom;
  background-size: 105%;
  background-repeat: no-repeat;
  background-image: url("https://wallpaperaccess.com/full/203536.png");
  -webkit-app-region: drag;
}
.app-2CXKsg {
  background-color: transparent;
}
.bg-1QIAus {
  background-color: transparent;
}
.layers-OrUESM {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.375);
  -webkit-app-region: no-drag;
}
.layer-86YKbF {
  transform: none !important;
  will-change: unset;
}

.errorPage-2pZ2Kq .buttons-228G5H {
  -webkit-app-region: no-drag;
}

.theme-dark {
  --background-primary: #0e1c2b; /* Chat */
  --background-secondary: #001524; /* Channels and People */
  --background-secondary-alt: #15181b;
  --background-tertiary: #001221; /* Servers */
  --channeltextarea-background: #1a1e21;
  --background-floating: #111416;

  --scrollbar-auto-thumb: #0000004a;
  --scrollbar-auto-track: #00000036;

  --background-modifier-accent: hsla(0, 0%, 100%, 0.03);
}

.container-YkUktl {
  background-color: #001221;
}

